body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(220, 220, 220);    
    background-attachment: fixed;
    height: 90vh;
    justify-content: center;    
    align-items: center;    
}

.landing_link{
    text-decoration: none;
}

.landing{    
    position: relative;          
    font-family: monospace;
    font-size:40px;      
    color: rgb(190, 190, 190);
    -webkit-text-stroke: 1px black  
}

.btn-explore{
    position: relative;
    padding-top: 40px;
    color: black;
    
}
